body{
    color: white;
    background: black;
    margin: 0px;
}


header{
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">

    border: solid 2px rgb(42. 122, 228);
    padding: 20px;
    fonte-size: 32px;
    color: rgb(46, 96, 235);
}

section{
     background: rgb(250, 91, 91);
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
}

div { 
    margin-right: 20px;
}

.chamada-texto{
      margin-right: 5%;
}
